.page_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin: 0px;
    background-color: rgb(247, 246, 229);
}

.header {
    height: 100px;
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(rgba(159, 223, 253, 0.692) 5%, rgba(255, 255, 255, 0) 99%);
}

.bod {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc_container {
    border: 2px solid black;
    border-radius: 10px;
    width: 430px;
    height: 500px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}

.erase {
    flex: 0 0 20%;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: brown;
}
.erase:hover {
    background-color: rgb(127, 7, 7);
}

.result {
    background-image: linear-gradient(rgba(58, 20, 195, 0.223) 0%, rgb(3, 39, 57) 190%);
    text-align: right;
    height: 60px;
    
    max-width: 307px;
    overflow-x: auto;
    flex: 0 0 75%;
    margin: 0px;
    padding: 10px;
    font-size: 25px;
    color: seashell;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#bttns {
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
 
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex: 0 0 25%;
    border: 1px solid rgb(90, 92, 90);
    border-radius: 10px;
    font-size: large;
    font-weight: 900;
}

.btn:hover {
    background-color: bisque;
}

.footer {
    color: rgb(6, 133, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:100%;
    background-image: linear-gradient(rgba(20, 183, 195, 0) 0%, rgb(82, 190, 245) 390%);
}